In [21]:
import pandas as pd
import sqlite3
import os

# create the sqlite DB
db = sqlite3.connect("Data/pokemon.db")

# read CSV into dataframe
df1 = pd.read_csv("Data/pokemondata.csv", header=0, index_col=0)

# convert the pandas dataframe to a sqlite table
df1.to_sql("pokemon", db, if_exists="replace")

def run_query(query):
    return pd.read_sql_query(query,db)

os.getcwd()



query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,index,ix_pokemon_Number,pokemon,3,"CREATE INDEX ""ix_pokemon_Number""ON ""pokemon"" (..."
1,table,pokemon,pokemon,2,"CREATE TABLE ""pokemon"" (\n""Number"" INTEGER,\n ..."

In [22]:
# get information about my staging table 
query_table_help = """
select * from PRAGMA_TABLE_INFO('stage_pokemon_cleaned');
"""
run_query(query_table_help)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [28]:

query_poke_count = """
select *
from pokemon

ORDER BY "name" asc;
"""

run_query(query_poke_count)

,Number,Name,Generation,About,Types/0,Types/1,Weight/Minimum,Weight/Maximum,Height/Minimum,Height/Maximum,Base Stamina,Base Attack,Base Defense,Base Flee Rate,MaxCP,MaxHP
0,1,Bulbasaur,Generation I,Bulbasaur can be seen napping in bright sunlig...,Grass,Poison,6.04kg,7.76kg,0.61m,0.79m,90 stamina points.,118 attack points.,118 defense points.,10% chance to flee.,951,1071